# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
.venv/
venv/
env/
ENV/

# ----------------------------
# PyCharm
# ----------------------------
.idea/
*.iml

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Build-Dateien
# ----------------------------
build/
dist/
*.spec

# ----------------------------
# Installer
# ----------------------------
*.exe

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Betriebssystem
# ----------------------------
Thumbs.db
Desktop.ini
.DS_Store

# ----------------------------
# Python Packaging
# ----------------------------
*.egg-info/
.eggs/
pip-wheel-metadata/

# ----------------------------
# Test- und Cache-Dateien
# ----------------------------
.pytest_cache/
.mypy_cache/
.cache/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/